include Makefile CHANGES LICENSE AUTHORS run_tests.py
recursive-include docs *
recursive-include examples *
recursive-exclude docs *.pyc
recursive-exclude docs *.pyo
recursive-exclude examples *.pyc
recursive-exclude examples *.pyo
prune docs/_build
prune docs/_themes/.git
